<h1><%= @todo_list.title %></h1>
<%= link_to 'Create item', new_todo_list_todo_item_path(@todo_list) %>
	<ul class="todo_items">
		<% @todo_list.todo_items.each do |item| %>
			<li id="<%= dom_id(item)%>"><%= item.content %></li>
      
		<% end %>
	</ul>